.card {
  border: 1px solid red;
  max-width: 500px;
}

main {
  display: flex;
}

.cart-item img {
  height: 50px;
}

.cart-item {
  display: flex;
  gap: 1rem;
  border: 1px solid black;
}

.green {
  background-color: green;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid blue;
  margin: 1rem 0;
  background-color: blue;
}

.red {
  background-color: red;
}
