* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  margin: 1rem;
}

body {
  /* font-family: "Times New Roman"; */
  font-family: "Courier New", Courier, monospace;
}

header {
  /* background-color: red; */
  display: flex;
  align-items: center;
}

header {
  background-color: gold;
  /* margin-bottom: 1rem; */
}

form > * {
  display: block;
}

table,
th,
td {
  border: 1px solid black;
  padding: 0.5rem;
}

table {
  border-collapse: collapse;
  margin-top: 4rem;
  /* width: 100%; */
}

#picture {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

#hero {
  position: relative;
  height: 80vh;
}

#about,
#shop,
#products {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact {
  height: 20vh;
  /* background-color: red; */
}

iframe {
  width: 100%;
  min-height: 10rem;
}
